<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData" version="6.9.1.2588" targetFramework="xamarinios10" />
  <package id="Fody" version="5.0.6" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="ReactiveUI" version="9.16.6" targetFramework="xamarinios10" />
  <package id="ReactiveUI.Fody" version="9.16.6" targetFramework="xamarinios10" />
  <package id="ReactiveUI.XamForms" version="9.16.6" targetFramework="xamarinios10" />
  <package id="Splat" version="7.2.1" targetFramework="xamarinios10" />
  <package id="Syncfusion.Licensing" version="17.1.0.49" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.Core" version="17.1.0.49" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfChart" version="17.1.0.49" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Reactive" version="4.1.5" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="1.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.0.0.482894" targetFramework="xamarinios10" />
</packages>