<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData" version="6.13.1" targetFramework="xamarinios10" />
  <package id="Fody" version="5.2.0" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="ReactiveUI" version="9.20.1" targetFramework="xamarinios10" />
  <package id="ReactiveUI.Fody" version="9.20.1" targetFramework="xamarinios10" />
  <package id="ReactiveUI.XamForms" version="9.20.1" targetFramework="xamarinios10" />
  <package id="Splat" version="8.2.4" targetFramework="xamarinios10" />
  <package id="Syncfusion.Licensing" version="17.2.0.41" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.Core" version="17.2.0.41" targetFramework="xamarinios10" />
  <package id="Syncfusion.Xamarin.SfChart" version="17.2.0.41" targetFramework="xamarinios10" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Reactive" version="4.1.6" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="1.2.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.1.0.673156" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Visual.Material" version="4.1.0.673156" targetFramework="xamarinios10" />
  <package id="Xamarin.iOS.MaterialComponents" version="72.2.0.1" targetFramework="xamarinios10" />
</packages>